[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openvino = "==2022.3.0"
opencv-python = "==4.7.0.72"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
